.content {
    margin-top: 10px;
    flex: 1 1 30%;
    height: 320px;
    background-color: #f3ca90;
    padding: 10px;
    overflow: hidden;
    border: black solid 1px;
}

.text {
    margin-bottom: 10px;
    padding: 5px;
    border: black solid 1px;
    text-align: center;
    background-color: lightslategray;
}

.text a {
    color: black;
}

.text a:hover {
    color: red;
}

.text:hover {
    background-color: #f3ca90;
}

.friends {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    justify-content: space-around;
}
