.login {
    flex: 1 1 80%;
    background-color: darkgrey;
    border-radius: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form {


}
.login__form div{
   margin-bottom: 10px;
}
.login__item input{
    width: 250px;
    height: 30px;
}
.checkbox input{
    width: 15px;
    height: 15px;
}
.checkbox span{
    display: block;
    margin-top: -27px;
    margin-left: 20px;
}
button{
    width: 100px;
    height: 20px;
}

