.login {
    flex: 1 1 80%;
    background-color: #f3ca20;
    border-radius: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form div{
   margin-bottom: 10px;
}
.login__item input{
    width: 350px;
    height: 30px;
    font-size: 15px;
    background-color: #f3ca90;
    border: black solid 1px;
    padding: 5px;
}
.checkbox input{
    width: 15px;
    height: 15px;
    background-color: #f3ca90;
    border: black solid 1px;
}
.checkbox span{
    display: block;
    margin-top: -32px;
    margin-left: 20px;
}
button{
    width: 100px;
    height: 40px;
    background-color: lightslategrey;
    border: black solid 1px;
    font-size: larger;
}

