.header{
    width: 70vw;
    /*height: 70px;*/
    text-align: center;
    margin: 15px auto;
    background-image: url("../../images/header/clouds-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    border: darkgray solid 1px;
    border-radius: 10px;

}
.header img{
    width: 130px;
    height: 50px;
}
.header__login{
    float: right;
    font-size: x-large;
}