.users {
    flex: 1 1 80%;
    background-color: #f3ca20;
    margin-left: 15px;
    border-radius: 10px;

}

.users__input {
    width: 100%;
    padding: 15px;
}

.users__input input {
    width: 250px;
    height: 30px;

}

.users__item {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 98%;
    padding: 5px;
    /*padding: 15px;*/
    border-bottom: darkred solid 1px;;


}

.item__foto {
    flex: 1 1 20%;
    padding-bottom: 10px;
    height: 150px;
}

.item__foto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.item__name {
    flex: 1 1 60%;
    padding: 10px;
}

.item__name p:first-child {
    padding-bottom: 15px;
}

.item__button {
    text-align: center;
    flex: 1 1 20%;

}

.item__button button {
    width: 70%;
    height: 40px;
    background-color: lightslategray;
    font-size: larger;
    border: black solid 1px;
}

.item__button button:hover {
    background-color: #f3ca90;
}

.user__button {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 50px;
    font-size: larger;
    background-color: lightslategrey;
    border: black solid 1px;
}