.friends {
    flex: 1 0 80%;
    margin-left: 15px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f3ca20;
}

.friends__search {
    width: 320px;
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.friends__search input {
    height: 35px;
    padding: 0 5px;
}

.friends__friendsList {
    display: flex;
    border-top: black solid 1px;
    padding: 10px 0;
}

.friends__friendsList__foto {
    flex: 1 1 15%;
    height: 15%;
}

.friends__friendsList__foto img {
    width: 100%;
    height: 100%;
}

.friends__friendsList__name {
    flex: 1 1 65%;
    padding: 5px 10px;
}

.friends__friendsList__instruction {
    flex: 1 1 20%;
}
.friends__friendsList__instruction p{
    margin-bottom: 7px;
}