.footer {
    width: 100vw;
    height: 80px;
    text-align: center;
    color: #f3ca20;
    background-color: #201E1B;
    padding: 15px;
    border-radius: 10px;
    margin-top: auto;
}

.footer span {
    font-size: larger;
}
