
.nav {
    flex: 0 0 20%;
    background-color: #f3ca20;
    border-radius: 10px;
    padding: 20px;
}

.nav__item {
    display: flex;
    margin-bottom: 25px;
}

.links:last-child {
    margin-top: 60px;
}

.nav__item p {
    flex: 0 1 15%;
}

.nav__item span {
    flex: 3 1 85%;
}

.nav a {
    color: black;
}

.nav a:hover {
    color: lightslategray;
}

a.active {
    font-size: 25px;
    color: red;
}

