.page{
   padding:0 10px 0 0;
    flex: 1 1 70%;
    padding: 0 20px;
    /*width: 80%;*/
    /*margin-left: 20px;*/

}

.item__text{
    width: 100%;
    margin-top: 10px;
}
.item__text textarea{
    /*width: 23vw;*/
    width: 100%;
    resize: none;
}
.page__area{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.page__area__button{
margin-top: 5px;


}
.item__button button{
    /*float: right;*/
    /*border: #ebebeb solid 1px;*/
    width: 100px;
    border: darkred solid 1px;
    border-radius: 5px;
    background-color: lightslategray;
    color: bisque;
}