.profile__page {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile__foto {
    flex: 1 1 30%;
    height: 30%;
}

.profile__foto img {
    width: 100%;
    height: 100%;
}

.container {
    flex: 1 1 70%;
}

.container p {
    padding: 5px 0;
}
.container__name{
    padding-left: 25px;
    font-size: xx-large;
    margin-bottom: 20px;
}
.container__status {
    width: 80%;
    padding-left: 25px;
    height: 70px;
}

.container__description {
    display: flex;
}

.profile__description {
    padding: 0 25px;
    flex: 3 0 70%;
}

.profile__description button {
    width: 100px;
    font-size: 20px;
    padding: 5px;
    background-color: lightslategray;
    border: solid 1px black;
    border-radius: 5px;
    display: block;
    text-align: center;
    height: 40px;
    margin: 2px auto;

}

.item__edit {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    background-color: lightslategray;
    border: solid 1px black;
    display: block;
    text-align: center;
    height: 40px;
    margin: 2px 0;
}

.item__edit:hover {
    background-color: #f3ca90;
    color: red;
}

.item__description {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.item__input {
    height: 30px;
}

.item__textarea {
    resize: none;
    width: 300px;

}

.contacts {
    padding: 10px 0 0 20px;
}

.profile__foto label {
    cursor: pointer;
    padding: 10px;
    background-color: lightslategray;
    border: solid 1px black;
    display: block;
    text-align: center;
    height: 40px;
    margin: 2px 0;
}

label:hover {
    background-color: #f3ca90;
    color: red;
}

.profile__foto input {
    display: none;
}

.profile__description p span {
    color: red;
    font-size:x-large;
}
/*span {*/
/*    color: red;*/
/*    font-size: x-large;*/
/*}*/