.block {
    display: flex;
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    margin-bottom: 50px;
    width: 80%;
    /*flex: 1 1 20%;*/
}

.block__foto {
    /*flex: 1 1 10%;*/
    width: 135px;
    height: 50px;
    text-align: center;
    align-self: center;
    /*margin-right: 20px;*/
    justify-content: flex-end;
}

.block__foto img {
    width: 50px;;
    height: 100%;
    border-radius: 50%;
}

.block__message {
    /*flex: 1 1 65%;*/
    /*max-width: 60%;*/
    max-width: 70%;
    word-break: break-all;
    margin-right: 20px;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
}
